@model vidly.Models.Movie
@{ 
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<ul>
    <li>Number in stock: @Model.NumberInStock</li>
    <li>Genre: @Model.GenreName</li>
    <li>Release date: @Model.ReleaseDate.ToShortDateString()</li>
</ul>