@model vidly.Models.Customers
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<ul>
    <li>Membership type: @Model.MembershipType.Name</li>
    @if(Model.DateOfBirth.HasValue)
    {
    <li>Date of birth: @Model.DateOfBirth.Value.ToShortDateString()</li>
    }
</ul>


