@model IEnumerable<vidly.Models.Customers>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Customers:</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
       
        <thead>
            <tr>
                <td>Customer</td>
                <td>Discount Rate</td>
            </tr>

            
        </thead>
        <tbody>
            @if (Model.Count() < 1)
            {
            @:There are no customers to dispaly.
                    }
            else
            {
               
                
                foreach (var customer in Model)
                {

                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })</td>
                    <td>@customer.MembershipType.Name</td>

                   

                </tr>



                }

            }
            
        </tbody>
        

    </table>


</div>
